{% extends "layout.html" %}

{% block body %}
  <div class="container">
  <h2>List VMs</h2>
    <div class=listjobs>
      <table class="table table-striped">
        <tr>
          {% if  usertype == 1 %} <th>User</th> {% endif %}
          <th>Name</th>
          <th>Zone</th>
          <th>Service Offering</th>
          <th>Template</th>
          <th>Start</th>
          <th>Stop</th>
          <th>IP</th>
          <th>Options</th>
        </tr>
        {% for vm in jobs %}
        <form action="{{ url_for('listvms') }}" method=post>
        <tr>
	  <input type="hidden" name="id" value={{ vm['id'] }}>
          {% if  usertype == 1 %} <th>{{ vm['user'] }}</th> {% endif %}
          <th>{{ vm['name'] }}</th>
          <th>{{ vm['zone'] }}</th>
          <th>{{ vm['serv'] }}</th>
          <th>{{ vm['template'] }}</th>
          <th>{{ vm['start'] }}</th>
          <th>{{ vm['end'] }}</th>
          <th>{{ vm['ip'] }}</th>
	  <th> <input type="submit" class="btn btn-default" value="Cancel"> </th>
        </tr>
        </form>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
